.formWrap {
    width: 50%;
    margin: auto;
  }
  
  .pInputField {
    width: 100%;
    border: 2px solid #ff0066;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 5px;
  }
  
  .addProjectWrap {
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
  }
  